<div class="video-container <%= video.autoplay ? '' : 'manual-play ' %>">
  <video loop muted
          <%= video.autoplay ? 'autoplay ' : '' %>
          <%= video.preload ? 'preload ' : '' %>
         webkit-playsinline playsinline <%= video.lazyload ? 'data-poster' : 'poster' %>="<%= video.cover %>">
    <% if (video.mp4) { %>
    <source <%= video.lazyload ? 'data-src' : 'src' %>="<%- video.mp4 %>" type="video/mp4">
    <% } %>
    <% if (video.webm) { %>
    <source <%= video.lazyload ? 'data-src' : 'src' %>="<%- video.webm %>" type="video/webm">
    <% } %>
    Your browser does not support video
  </video>
</div>