<!DOCTYPE html>
<html>
<head>
  <title><%= __('series') %> | Animeloop</title>
  <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <% let {current, total, prevColor, nextColor} = pagination; %>

    <div class="panel list-series">
      <% if (current != 1) { %>
      <a href="/list/series/<%- current - 1 %>">
        <div class="pagination-button card col-md-4 col-sm-6 col-xs-12" style='background-color: <%- prevColor %>;'>
          <div class="topcover"></div>
          <div class="title">&laquo;</div>
        </div>
      </a>
      <% } %>
      <% grouped.forEach((group) => { %>
        <div class="season card col-md-4 col-sm-6 col-xs-12" style="background-color: <%- group.series[0].color %>;">
          <div class="topcover"></div>
          <div class="title"><%- group.season %></div>
        </div>
        <% group.series.forEach((ser) => { %>
        <a href="/series/<%- ser.id %>">
          <div class="item card col-md-4 col-sm-6 col-xs-12" style='background-image: url("<%- ser.image_url_banner ? ser.image_url_banner : ser.image_url_large %>"); background-color: <%- ser.color %>;'>
            <div class="topcover"></div>
            <div class="title"><%- ser[__('title-key-1')] %></div>
          </div>
        </a>
        <% }); %>
      <% }); %>
      <% if (current != total) { %>
      <a href="/list/series/<%- current + 1 %>">
        <div class="pagination-button card col-md-4 col-sm-6 col-xs-12" style='background-color: <%- nextColor %>;'>
          <div class="topcover"></div>
          <div class="title">&raquo;</div>
        </div>
      </a>
      <% } %>
    </div>
  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>