<!DOCTYPE html>
<html>
<head>
  <title><%= __('episodes') %> | Animeloop</title>
  <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="list-episodes col-md-12">
      <% datas.forEach((data) => {
        const series = data.series;
        const episodes = data.episodes;
      %>
      <div class="panel">
        <div class="panel-body item">
          <div class="col-xs-5 col-sm-3 col-md-2 cover">
            <a href="/series/<%- series.id %>"><img data-src="<%- series.image_url_large %>" alt="<%- series[__('title-key-1')] %>"></a>
          </div>
          <div class="col-xs-7 col-sm-5 col-md-5 content">
            <div class="title">
              <h4><%- series[__('title-key-1')] %>
                <% if (series[__('title-key-2')]) { %>
                <small>（<%- series[__('title-key-2')] %>）</small>
                <% } %>
              </h4>
              <p><small><%- series[__('title-key-3')] %></small></p>
            </div>
            <ul class="genres">
              <li><%- series.season %></li>
              <% series.genres.forEach((gen) => { %>
              <li><%- gen %></li>
              <% }); %>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-5 entry">
            <% episodes.filter((epi) => {
              return (epi.no != undefined);
            }).forEach((epi) => { %>
            <div class="col-xs-2 col-sm-3 col-md-2">
              <a href="/episode/<%- epi.id %>"><%- epi.no %></a>
            </div>
            <% });%>

            <% episodes.filter((epi) => {
              return (epi.no == undefined);
            }).forEach((epi) => { %>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <a href="/episode/<%- epi._id %>"><%- epi.title %></a>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <% }); %>
      <% let {current, total} = pagination; %>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li <%- current == 1 ? 'class="disabled"' : '' %>>
            <a <%- current == 1 ? '' : `href="/list/episodes/${current - 1}"` %> aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <%
          let begin = (current - 5 < 1) ? 1 : (pagination.current - 5);
          let end = (current + 5 > total) ? total : (current + 5);
          %>
          <% for (var i = begin; i <= end; ++i) { %>
          <li <%- current == i ? 'class="active"' : '' %>><a href="/list/episodes/<%- i %>"><%- i %></a> </li>
          <% } %>

          <li <%- current == total ? 'class="disabled"' : '' %>>
            <a <%- current == total ? '' : `href="/list/episodes/${current + 1}"` %> aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>