<!DOCTYPE html>
<html>
<head>

  <%- include('partials/twitter-card', {
    card: 'player',
    at: '@moeoverflow',
    title: `${episode.title} | ${loop.period.begin.slice(0, 11)} ~ ${loop.period.end.slice(0, 11)}`,
    description: 'View the anime loop on MOEOVERFLOW.',
    image: loop.files.jpg_1080p,
    videoContainer: 'https://animeloop.org/loop/' + loop._id + '/twitter',
    videoWidth: '1920',
    videoHeight: '1080',
    videoStream: loop.files.mp4_1080p,
    videoContentType: 'video/mp4'
  }); %>

  <%- include('partials/open-graph', {
    title: `${loop.episode.title} | ${loop.period.begin.slice(0, 11)} ~ ${loop.period.end.slice(0, 11)}`,
    description: 'View the anime loop on MOEOVERFLOW.',
    image: loop.files.jpg_1080p,
    videoWidth: '1920',
    videoHeight: '1080',
    videoStream: loop.files.mp4_1080p,
    videoContentType: 'video/mp4'
  }); %>

  <title><%- loop.period.begin.slice(0, 11) %> | <%- loop.episode.no %> | <%- loop.series[__('title-key-1')] %> | Animeloop</title>
  <%- include('partials/head') %>

  <!--  share.js -->
  <link rel="stylesheet" href="/share.js/dist/css/share.min.css">
  <script src="/share.js/dist/js/social-share.min.js"></script>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="loop details panel">
      <div class="panel-body navigator">
        <ol class="breadcrumb path-navigator">
          <li><a href="/series/<%- series.id %>"><%- series[__('title-key-1')] %></a></li>
          <li><a href="/episode/<%- episode.id %>"><%- episode.no %></a></li>
          <li class="active">(´・ω・`)</li>
        </ol>
      </div>
      <div class="panel-body content">

        <div class="video col-xs-12 col-sm-12 col-md-9 col-lg-7">
          <%- include('partials/video-container', {
            video: {
              cover: loop.files.jpg_720p,
              mp4: loop.files.mp4_1080p,
              webm: loop.files.webm_1080p,
              autoplay: true,
              preload: true,
              lazyload: true
            }
          }) %>
        </div>
        <div class="info col-sm-9 col-md-3 col-lg-5">
          <div class="period col-xs-7 col-sm-7 col-md-12 col-lg-7">
            <h3><%= __('period') %> </h3>
            <span><%- loop.period.begin.slice(0, 11) + ' ~ ' + loop.period.end.slice(0, 11) %></span>
          </div>
          <div class="duration col-xs-5 col-sm-5 col-md-12 col-lg-5">
            <h3><%= __('duration') %> </h3>
            <span><%- loop.duration.toFixed(3) %> s</span>
          </div>
          <div class="files col-xs-12 col-sm-12 col-md-12 col-lg-11">
            <h3><%= __('files') %>: </h3>
            <div class="files-container">
              <% for (let type in loop.files) { %>
              <div class="file-item col-md-4">
                <a href="<%- loop.files[type] %>"><span class="badge badge-primary"><%- type %></span></a>
              </div>
              <% } %>
            </div>
          </div>
          <div class="share col-lg-12">
            <%- include('partials/share') %>
          </div>
        </div>
      </div>
    </div>

    <% if (tags.length != 0) { %>
    <div class="loop tags-illus2vec panel">
      <div class="panel-body">
        <h3><%= __('cover-tags-illus2vec') %> </h3>
        <br>
        <div class="tags-general col-md-6">
          <%- include('partials/illus2vec-tags-section', {
            tagType: 'general'
          }) %>
        </div>
        <div class="tags-others col-md-6">
          <%- include('partials/illus2vec-tags-section', {
            tagType: 'copyright'
          }) %>

          <%- include('partials/illus2vec-tags-section', {
            tagType: 'character'
          }) %>

          <%- include('partials/illus2vec-tags-section', {
            tagType: 'safe'
          }) %>
        </div>
        <div class="from col-md-12">
          <small><%- __('cover-tags-illus2vec-from-l') %> <a href="https://github.com/moeoverflow/illustration2vec">illustration2vec</a> <%- __('cover-tags-illus2vec-from-r') %></small>
        </div>
      </div>
    </div>
    <% } %>

    <div class="loop comment panel">
      <div class="panel-body">
        <div class="col-md-12">
          <%- include('partials/disqus') %>
        </div>
      </div>
    </div>

  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>