<div class="loop-card col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="video-golink" href="/loop/<%- loop._id %>">
          <%- include('video-container', {
            video: {
              cover: loop.files.jpg_360p,
              mp4: loop.files.mp4_360p,
              webm: loop.files.webm_360p,
              preload: true,
              lazyload: true
            }
          }) %>
        </a>
      </div>
      <div class="panel-footer">
        <ul class="info">
          <li class="title"><%- loop.episode.title %></li>
          <li class="period"><%- loop.period.begin.slice(0, 11) %> ~ <%- loop.period.end.slice(0, 11) %></li>
        </ul>
      </div>
    </div>
</div>
