<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loop | Animeloop</title>
  <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="panel">
      <div class="panel-body">
        <h3><%- loops[0].series.title %> - <%- loops[0].episode.title %></h3>

      </div>
    </div>

    <div class="loop-cards">
      <% loops.forEach((loop) => { %>
      <%- include('partials/loop-card', {
      loop
      }) %>
      <% }); %>
    </div>
  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>