<!DOCTYPE html>
<html lang="en">
<head>
  <title>Animeloop</title>

  <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="panel">
        <div class="jumbotron">
          <div class="container">
            ...
          </div>
        </div>
        <!--<div class="col-md-12 col-sm-12">-->
          <!--Animeloop is a project for trying to collect anime loop videos.-->
          <!--<br><br><br><br><br><br>-->
        <!--</div>-->
    </div>

    <div class="loop-cards">
      <% loops.forEach((loop) => { %>
      <%- include('partials/loop-card', {
        loop
      }) %>
      <% }); %>
    </div>
  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>