<!DOCTYPE html>
<html lang="en">
<head>
    <% if (activeMenu == 'list-series') { %>
    <title>Series | Animeloop</title>
    <% } else if (activeMenu == 'list-episodes') { %>
    <title>Episodes | Animeloop</title>
    <% } else if (activeMenu == 'list-tags') { %>
    <title>Tags | Animeloop</title>
    <% } %>
    <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
    <!-- start:Left Menu -->
    <%- include('partials/menu') %>
    <!-- end: Left Menu -->

    <!-- start: content -->
    <div id="content">
        <div class="post col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <%
                    var i, j, temps, chunk = 3;
                    for (i = 0, j = datas.length; i < j; i += chunk) {
                        temps = datas.slice(i, i+chunk);
                    %>
                    <div class="col-md-12">
                        <div class="col-md-2">
                        </div>
                        <% temps.forEach((temp) => { %>
                        <div class="col-md-3">
                            <a href="#"><%- temp.name %> <span class="badge badge-default"><%- temp.count %></span></a>
                        </div>
                        <% }); %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>