<%
let episodes = data.episodes;
let series = data.series;
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/open-graph', {
    title: series[__('title-key-1')],
    description: series.description,
    image: series.image_url_large,
    video: false
  }); %>
  <title><%- data.series[__('title-key-1')] %> | <%= __('series') %> | Animeloop</title>
  <%- include('partials/head') %>
</head>

<body id="mimin" class="dashboard">

<!-- start: Header -->
<%- include('partials/header') %>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <%- include('partials/menu') %>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="panel series">
      <div class="panel-body">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <img class="cover" src="<%- series.image_url_large %>">
        </div>
        <div class="col-md-8">
          <div class="title">
            <h3>
              <%- series[__('title-key-1')] %>
              <% if (series[__('title-key-2')]) { %>
              <small>（<%- series[__('title-key-2')] %>）</small></h4>
              <% } %>
            </h3>
            <p><small><%- series[__('title-key-3')] %></small></p>
          </div>
          <ul class="genres">
            <%
            var dateFuzzy = series.start_date_fuzzy;
            var date = new Date(dateFuzzy / 10000, (dateFuzzy % 10000 / 100) - 1, dateFuzzy % 100);
            %>
            <li><%- `${date.getUTCFullYear()}-${date.getUTCMonth()+1}` %></li>
            <% series.genres.forEach((gen) => { %>
            <li><%- gen %></li>
            <% }); %>
          </ul>

          <div class="description"><%- series.description %></div>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <% episodes.forEach((epi) => { %>
          <div class="col-md-3">
            <% if (epi.no) { %>
            <a href="/episode/<%- epi._id %>"><%- `${epi.series[__('title-key-1')]} ${epi.no}` %></a>
            <% } else { %>
            <a href="/episode/<%- epi._id %>"><%- epi.series[__('title-key-1')] %></a>
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
  <!-- end: content -->

</div>

<!-- start: Mobile -->
<%- include('partials/mobile-menu') %>
<!-- end: Mobile -->

<!-- start: Javascript -->
<%- include('partials/scripts') %>
<!-- end: Javascript -->
</body>
</html>